<div class="container-search">
  <div class="search-info">
    <div class="search-word">
      <h2>發掘世界各個角落</h2>
    </div>
    <div class="search-bar">
      <input type="text" name="search" placeholder="    今天想看什麼樣的風景?">
    </div>
  </div>
  <div class="container-windows">
    <% @windows.each do |window| %>
    <div class="search-window col-md-4">
      <div class="search-window-img">
        <% window.images.each do |image| %>
          <%= image_tag (image.image.url(:medium))%>
        <% end %>
      </div>
      <div class="search-window-words">
        <div class="search-window-city">
          <%= window.city.name %>
        </div>
        <div class="search-window-country">
          <%= window.city.country.name %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>