<h1>編輯地方</h1>
<hr>
<%= form_for [:admin, @window],html: { multipart: true } do |w| %>

  <%= render :partial => 'form', :locals => { :w => w } %>


	 <div class="form-actions btn-group">
    <%= w.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Cancel", admin_windows_path, :class => "btn btn-danger" %>
  </div>
<% end %>