.container-search-full {
  background: #EFF3F4;
  width: 100%;
  height: 120vh;
}

.container-search-result {
  width: 1050px;
  margin: 0 auto;
  padding-top: 108px;
}

.search-result-dist {
  font-family: SourceHanSansTWHK-Normal;
  font-size: 14px;
  color: #444444;
  letter-spacing: 0.5px;
}

.search-result-city {
  font-family: SourceHanSansTWHK-Medium;
  font-size: 30px;
  color: #444444;
  letter-spacing: 0.5px;
}

.search-result-city>h2 {
  margin: 0;
}

.search-result-intro {
  padding-top: 24px;
  padding-bottom: 494px;
}

.search-result-intro-img {
  padding-left: 0px;
}

.search-result-intro-img img {
  width: 664px;
  height: 436px;
}

.search-result-intro-random>a>img {
  width: 27px;
  height: auto;
  margin-top: 3px;
}

.search-result-intro-random {
  background: #4565C3;
  width: 36px;
  height: 36px;
  border-radius: 16px;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 50px;
}

.search-result-intro-data {
  padding-left: 0px;
  width: 318px;
  height: 436px;
}

.search-result-intro-map {
  padding-top: 6px;
}

.search-result-city-windows-count {
  font-family: SourceHanSansTWHK-Medium;
  font-size: 24px;
  color: #444444;
  letter-spacing: 0.5px;
  margin-bottom: 18px;
}

.search-result-window {
  padding-left: 0px;
  padding-right: 24px;
}

.search-result-window-intro {
  padding-top: 16px;
}

.search-result-intro-word {
  font-family: SourceHanSansTWHK-Normal;
  font-size: 12px;
  color: #444444;
  letter-spacing: 0.42px;
  line-height: 28px;
}

.search-result-intro-map {
  position: absolute;
  bottom: -5px;
  left: 0px;
}

.search-result-window-name {
  font-family: SourceHanSansTWHK-Normal;
  font-size: 18px;
  color: #444444;
  letter-spacing: 0.5px;
}

.search-result-window-comments {
  font-family: SourceHanSansTWHK-Light;
  font-size: 16px;
  color: #FFFFFF;
  background: #58C6C8;
  border-radius: 16px;
  width: 55px;
  height: 32px;
  text-align: center;
}

.search-result-window-comments>img {
  width: 24px;
  height: 100%;
}

.search-result-window-start {
  background: #4565C3;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-left: 5px;
  text-align: center;
}

.search-result-window-start img {
  width: 24px;
  height: 100%;
}

.search-result-window-action {
  padding-right: 14px;
}

.search-result-window-pageviews {
  font-family: SourceHanSansTWHK-Normal;
  font-size: 12px;
  color: #9B9B9B;
  letter-spacing: 0.33px;
}

.search-result-window-img img {
  width: 320px;
  height: 212px;
}