.navbar {
  background: #4565C3;
  margin: 0;
  width: 100vw;
}

#logo {
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  text-align: center;
}

.avatar-img img {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  float: right;
  margin: 10px;
}
