.navbar {
  background: #4565C3;
  margin: 0;
  width: 100%;
  height: 5%;
  color: white;
  border-color: #4565C3;
  border-radius: 0px;
}

.navbar .bars {
  padding: 10px;
  padding-left: 20px;
}

#logo {
  padding: 15px 15px;
  text-align: center;
}

.navbar-icon>img {
  width: 36px;
  height: 100%;
}

.avatar-img img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  float: right;
  margin-top: 5px;
}
