.sidebar {
  width: 340px;
  height: 100%;
  position: absolute;
  background: #2546AA;
  opacity: 1;
}

.sidebar-item p {
  font-family: SourceHanSansTWHK-Normal;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  padding: 13px;
  padding-left: 60px;
}

.sidebar_divider {
  border: 1px solid #F7EFEF;
  width: 292px;
  margin: 15px 10px;
  opacity: 0.3;
}

.sidebar-info {
  position: absolute;
  width: 320px;
  bottom: 8%;
}

.sidebar-info>.user-info {
  padding: 10px;
  padding-top: 25px;
}

.sidebar-logout {
  font-family: SourceHanSansTWHK-Normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
}

.sidebar-info .sidebar-username {
  opacity: 0.5;
  font-family: SourceHanSansTWHK-Normal;
  font-size: 11px;
  letter-spacing: 0px;
  color: white;
}