.container-window-full {
  background: #ECF1F2;
  width: 100%;
  height: 100vh;
}

.container-window-detail {
  width: 1050px;
  margin: 0 auto;
  padding-top: 48px;
}

.window-detail-country-city-name>p{
  font-family: SourceHanSansTWHK-Normal;
  font-size: 14px;
  color: #444444;
  letter-spacing: 0.5px;
  margin: 0px;
  padding-left: 5px;
}

.window-detail-window-name>h2{
  font-family: SourceHanSansTWHK-Medium;
  font-size: 30px;
  color: #444444;
  letter-spacing: 0.5px;
  margin-top: 11px;
  margin-bottom: 0px;
}

.window-detail-intro-word {
  font-family: PingFangTC-Regular;
  font-size: 10px;
  color: #828282;
  letter-spacing: 0px;
}

.window-detail-intro {
  width: 320px;
  height: 436px;
}

.window-detail-intro-provider-img>img {
  width: 38px;
  height: auto;
  border-radius: 18px;
}

.window-detail-intro-provider-info {
  padding-left: 44px;
}

.window-detail-intro-provider-info-name>p {
  font-family: PingFangTC-Semibold;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0px;
  margin-bottom: 0px;
}

.window-detail-intro-provider-info-link>a {
  font-family: PingFangTC-Regular;
  font-size: 10px;
  color: #828282;
  letter-spacing: 0px;
}

.window-detail-intro-map {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.window-detail-comments-count {
  font-family: SourceHanSansTWHK-Medium;
  font-size: 24px;
  color: #444444;
  letter-spacing: 0.5px;
}
.container-window-detail .divider {
  border: 1px solid #979797;
  width: 664px;
  margin-bottom: 14px;
}

.window-detail-comment-img>img{
  width: 36px;
  height: auto;
  border-radius: 18px;
}

.window-detail-comment-img {
  padding: 0px;
}

.window-detail-comment-item p {
  margin: 0px;
  padding: 0px;
}

.window-detail-comment-name>p {
  font-family: PingFangTC-Semibold;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0px;
}

.window-detail-comment-content>p {
  font-family: PingFangTC-Regular;
  font-size: 14px;
  color: #828282;
  letter-spacing: 0px;
}

.window-detail-comment-time>p {
  margin: 0px;
  padding: 20px 0px 15px 55px;
  font-family: PingFangTC-Light;
  font-size: 12px;
  color: #4A4A4A;
  letter-spacing: 0px;
}

.comment-input input[type=text] {
    width: 540px;
    height: 36px;
    border: 1px solid rgba(155,155,155,0.30);
    margin-left: 10px;
}

.search-result-intro-img img {
  width: 664px;
  height: 436px;
}

.search-result-intro-random {

}