<h1>All Quotes</h1>
<%= link_to "New Quotes", new_admin_quote_path, class: "btn btn-success"%>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Quote List</td>
    </tr>
  </thead>
  <tbody>
  	<% @quotes.each do |quote|%>
	  	<tr>
	  		<th><%= link_to quote.content, edit_admin_quote_path(quote) %></th>
	  		<th><%= link_to "Delete", admin_quote_path(quote), :method => :delete ,:data =>{ :confirm => "Are you sure?"}, class:"btn btn-danger" %></th>
	  	</tr>
	  <% end %>
  </tbody>
</table>

<hr>
<div>
<%= link_to "Back to windows", admin_windows_path, class:"btn btn-info"%>
</div>